 input[type=search]:not(.browser-default){
	height: 4rem;
}

h3{
	color: #ee6e73;
}

nav{
	background-color: white;
	box-shadow: none;
}

nav .input-field label i {
    color: black;
}

.seleccion{
	background-color: green;
	width: 7%;
}
.pokedex{
	border: 2px solid orange;
}

.modal{
	background-color: green;
}

img{
    width: 160px;
    height: 160px;
    background-color: gray;
    margin-top: 20px;
}

.mi-btn{
	height: 200px;
	margin-right: 79px;
	margin-bottom: 50px;    
}