 input[type=search]:not(.browser-default){
	height: 4rem;
}

h3{
	color: #ee6e73;
}

nav{
	background-color: white;
	box-shadow: none;
}

nav .input-field label i {
    color: black;
}

.seleccion{
	background-color: green;
	width: 7%;
}
.pokedex{
	border: 2px solid orange;
}

.modal{
	background-color: red;
}

img{
	width: 100px;
	height: 100px;
	background-color: gray;
}
